* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Arial, Helvetica, sans-serif;
}

header {
    height: 10dvh;
    padding: 0 4rem;
    background-color: #333;
    color: #eee;
    display: flex;
    justify-content: space-between;
}


header nav {
    align-content: center;
    & ul {
        list-style: none;
        display: flex;
        align-content: center;
        gap: 1rem;
    }
}

header a,
header a:visited{
    color: #eee;
    text-decoration: none;
    padding: .75rem 1.5rem;
    border: 2px solid #eee;
    border-radius: 5px;
    outline: none;
}


.logo {
    align-content: center;
    font-size: 2.5rem;
    font-weight: 600;
    
}

.container {
    padding: 0 4rem;
    height: 90dvh;
    width: 100%;
    display: grid;
    place-items: center;
    position: relative;
}

.toast {
    position: absolute;
    top: .5rem;
    text-align: center;
    width: 100%;
    margin: .1rem;
    padding: 1rem 0;
    border-radius: .15rem;
    color: #333;
    display: block;
}

.info {
    background-color: #9ec5fe;
}

.error {
    background-color: #f1aeb5;
}

.warning {
    background-color: #ffe69c;
}

.success {
    background-color: #a3cfbb;
}

@media (max-width: 768px) {
    
    header,
    .container {
        padding: 0 2rem;
    }
    header nav ul{
        gap: .5rem;
    }
    header a,
    header a:visited{
        color: #eee;
        text-decoration: none;
        padding: .6rem .5rem;
        border: 2px solid #eee;
        border-radius: 5px;
        outline: none;
        font-size: .8rem;
    }
    
}