{% extends "base.html" %} 
{% load static %}
{% block title %} 
Login 
{% endblock title %} 
{% block style-link %} 

<link rel="stylesheet" href="{% static 'form.css' %}">
<link rel="stylesheet" href="{% static 'otp.css' %}">
{% endblock style-link %} 

{% block content %}

<form method="post">
  {% csrf_token %}
  <h2>Enter Your email</h2>
  <div class="input-field">
    <input type="email" name='email' spellcheck="false" required/>
    <label>Email</label>
  </div>
  <div class="submit-field">
      <a href="{% url "Login" %}" class='cancle'>Cancel</a>
      <input type="submit" value="Enter" />
  </div>
</form>
{% endblock content %}


