{% extends "base.html" %} 
{% load static %}
{% block title %} 
Dashboard 
{% endblock title %} 
{% block style-link %} 

<link rel="stylesheet" href="{% static 'card.css' %}">
{% endblock style-link %} 

{% block navbarOptions %}
{% if request.user.is_authenticated %}
<li><a href="{% url "Logout" %}">Logout</a></li>
{% if request.user.is_staff %}
<li><a href="admin">Admin</a></li>
{% endif %}
{% else %}
<li><a href="{% url "Login" %}">Login</a></li>
{% endif %}
{% endblock navbarOptions %}


{% block content %}

<div class="card">
  <div class="message">
    {% if request.user.is_authenticated %}
    <h2>Hello👋, <span>{{ request.user.username }}</span> !!</h2>
    <h1>Welcome to the Dashboard!</h1>
    {% else %}
    <h2>Welcome to the Dashboard!</h2>
    <h1>You are not Login yet!!</h1>
    {% endif %}
    
  </div>
  <button class="btn">Activity Button</button>
</div>
{% endblock content %}


